<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="/images/beach.jpg" type="image/x-icon"/>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <link rel='stylesheet' href='/tether/css/tether.min.css'/>
    <link rel='stylesheet' href='/bootstrap3.3.7/css/bootstrap.min.css'/>
    <script src="/jquery2.1.1/jquery-2.1.1.min.js"></script>
    <script src="/tether/js/tether.min.js"></script>
    <script src="/bootstrap3.3.7/js/bootstrap.min.js"></script>

    <link rel='stylesheet' href='/stylesheets/style.css'/>


</head>
<body>
<!-- --------------------------导航------------------------->
<div class="container navigation">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#example-navbar-collapse">
                    <span class="sr-only">切换导航</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand " href="/">首页</a>
            </div>
            <div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
            </div>
            <div class="collapse navbar-collapse" id="example-navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/blogs">博客</a></li>
                    <li><a href="#">音乐</a></li>
                    <li><a href="/blogWrite">写博客</a></li>
                    <li><a href="#">留言</a></li>
                    <li><a href="#">关于</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 注册</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登录</a></li>
                </ul>
            </div>

        </div>
    </nav>
</div>
<!--背景图片-->
<div style="height: 400px" class="picture-carousel"></div>
<div id="mainPage" class="container main">
    <div class="col-xs-12">
        <!--文章推荐-->
        <div class="box-left col-xs-3" style="background-color: #ffffff">
            <h2  style="text-align: center"><%=blog.title%></h2>
            <span>
                标签：
                <%(blog.tag).forEach(function(tag){%>
                <a><%=tag%></a>
                <%})%>

            </span>
            <div class="article_r row" style="text-align: right">
                <span class="link_postdate"><%=creatTime%></span>
                <span class="link_view" title="阅读次数"><span class="glyphicon glyphicon-eye-open"></span><%=blog.viewTimes%>人阅读</span>
                <span class="link_comments" title="评论次数"> <a href="#cloud-tie-wrapper" ><span class="glyphicon glyphicon-comment"></span>评论</a>(<%=blog.commentNumber%>)</span>
                <span class="link_collect tracking-ad" data-mod="popu_171"> <a href="javascript:void(0);"  title="收藏" target="_blank"><span class="glyphicon glyphicon-star-empty"></span>收藏</a></span>
            </div>
            <div class="blogView-category">
                <img src=""><strong>分类:</strong>
                标签：
                <%(blog.classify).forEach(function(classify){%>
                <a><%=classify%></a>
                <%})%>
            </div>
            <div class="copyRight">
                版权说明：本文为<a><%=blog.authorName%></a>
                <%if(blog.isCopy){%>
                转载文章，转载地址<a href=<%=blog.copyUrl%>><%=blog.copyUrl%></a>
                <%}else{%>
                原创文章，非商用自由转载-保持署名-注明出处，谢谢。
                <%}%>
            </div>
            <div id="blogList" class="article-contents">
                <p style="text-align: right;margin: 5px 5px 5px 5px">
                <span style="float: left">目录<a href="#" style="color: #ff0000;" title="系统根据文章中H1到H6标签自动生成文章目录">(?)</a></span><a  onclick="javascript:return expandList(this)" title="展开" style="color: #ff0000;">[+]</a>
                </p>
                <ol style="margin-left: 14px; padding-left: 14px; line-height: 160%; display: none;">
                    <li><a href="#t0" style="color: #ff0000;">前言</a></li>
                    <li><a href="#t1" style="color: #ff0000;">使用说明</a></li>
                    <li><a href="#t2" style="color: #ff0000;">实现原理</a></li>
                    <li><a href="#t3" style="color: #ff0000;">下载地址</a></li>
                </ol>
            </div>
            <div class="" style="margin-top: 50px" id="mainContent" escape="false">
                <%-blog.content%>
            </div>
            <div class="row" style="margin-left: 5px;margin-top: 50px">
            <div class="bdsharebuttonbox bdshare-button-style0-32 " data-bd-bind="1497337263541">
                <a href="#" class="bds_more" data-cmd="more"></a>
                <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                <a href="#" class="bds_tqq" data-cmd="tqq" title="分享到腾讯微博"></a>
                <a href="#" class="bds_renren" data-cmd="renren" title="分享到人人网"></a>
                <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
            </div>
            </div>
            <script>window._bd_share_config={"common":{"bdSnsKey":{},"bdText":"","bdMini":"2","bdMiniList":false,"bdPic":"","bdStyle":"0","bdSize":"32"},"share":{},"image":{"viewList":["qzone","tsina","tqq","renren","weixin"],"viewText":"分享到：","viewSize":"24"},"selectShare":{"bdContainerClass":null,"bdSelectMiniList":["qzone","tsina","tqq","renren","weixin"]}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
            <div class="row" style="text-align:center">
                <a onclick="javascript:return blogViewPoint('up','<%=blog._id%>',this)"  style="margin-right: 20px" >
                    <span class="glyphicon glyphicon-thumbs-up"></span>
                </a>
                <a onclick="javascript:return blogViewPoint('down','<%=blog._id%>',this)" style="margin-left: 20px">
                    <span class="glyphicon glyphicon-thumbs-down"></span>
                </a>
            </div>
            <div class="row" style="text-align:center">

                    <span class="" style="margin-right: 20px"><%=blog.pointNumber%></span>

                    <span class="" style="margin-left: 20px"><%=blog.pointDownNumber%></span>

            </div>
            <!--网易云跟帖start-->
            <div id="cloud-tie-wrapper" class="cloud-tie-wrapper row"></div>
            <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
            <script>
                var cloudTieConfig = {
                    url: "",
                    sourceId:"<%=blog._id%>",
                    productKey: "c50d5faa642e4199a865265b4e008da8",
                    target: "cloud-tie-wrapper"
                };
                var yunManualLoad = true;
                Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
            </script>
            <!--网易云跟帖end-->
        </div>
        <div class="box-right col-xs-3">
            <!--搜索-->
            <div class="row" style="padding-top: 30px">
                <form method="post" action="/article/search" class="form-wrapper">
                    <input type="text" id="search" name="search" placeholder="请输入要搜索的文章" required="">
                    <input type="submit" value="搜索" id="submit">
                </form>
            </div>
            <!--内容分类-->
            <div class="row content-category" style="margin-top: 30px;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">内容分类</h1>
                <ul>
                    <li><a href="#">nodejs</a></li>
                    <li><a href="#">mongodb</a></li>
                    <li><a href="#">java</a></li>
                    <li><a href="#">mysql</a></li>
                    <li><a href="#">关于</a></li>
                    <li><a href="#">音乐</a></li>
                    <li><a href="#">其他</a></li>
                </ul>
            </div>
            <div class="row content-category" style="margin-top: 30px;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">热门内容</h1>
                <div id="hot-news-wrap"></div>
                <script>var yunModuleEnv = true;</script>
                <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
                <script>
                    var yunTieProductKey = "c50d5faa642e4199a865265b4e008da8";
                    var yunHotNewsWrap = "hot-news-wrap";   //放置的DOM节点ID 或 样式类
                    Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vZXh0ZW5kL2hvdF9uZXdzX3NjcmlwdC5odG1s", true);
                </script>
            </div>
            <!--热门排行-->
            <div class="row hot-sort" style="margin-top: 30px;padding-bottom:-20px;height:auto;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">热门排行</h1>
                <p id="active-line" class="active-line" style="width: 120px; left: 0px;"></p>
                <ul class="hot-recommend-ul">
                    <li class="active" order="0">点击排行</li>
                    <li class order="1">评论排行</li>
                    <li class order="2">点赞排行</li>
                </ul>
                <div id="hort-sort-content" class="hort-sort-content" style="width: 1080px;left:0px;">
                    <div class="list">
                        <ul class="" style="border-bottom: 0px ;">
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                        </ul>
                    </div>
                    <div class="list">
                        <ul class="" style="border-bottom: 0px ;">
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                        </ul>
                    </div>
                    <div class="list">
                        <ul class="" style="border-bottom: 0px ;">
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                            <li >点击排行</li>
                            <li >评论排行</li>
                            <li >点赞排行</li>
                        </ul>
                    </div>
                </div>
                <ul class="number">
                    <li class="one">1</li>
                    <li class="two">2</li>
                    <li class="three">3</li>
                    <li>4</li>
                    <li>5</li>
                    <li>6</li>

                </ul>
            </div>

            <!--友情链接-->
            <div class="row content-category" style="margin-top: 30px;background-color: #ffffff">
                <h1 class="title-shadow" style="color: #5bc0de">友情链接</h1>
                <ul>
                    <li><a href="http://kangzw.com/">周康博客</a></li>
                    <li><a href="http://www.chenxiaojie.net/">陈骁杰博客</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!--底部-->
<div id="footer" class="col-xs-12  footer" align="center">
    <p >苏ICP备17022286号 | Design by JiangChao,version 1.0 | 登陆</p>
</div>
<script src="/javascripts/blogView/blogView.js"></script>
</body>
</html>
